// Override default variables before the import
$body-bg: #f7f7f7;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$col_headerback : #f1f1f1;
$col_border : #dddddd;

// my css
.borderbottom {
    border-bottom: 1px solid $col_border;
}

.navback{
    background: $col_headerback;
}
.message.float-right {
    width: 100%;
}
/***** message *****/
.indicatorBorder{
    border: 1px solid $col_border;
    border-top:0px;
    margin-right: 2px
}
.indicator{
    background: $col_headerback;
    border-bottom: 1px solid $col_border;
    padding: 10px;    
    color: pointer;
}
.indicator_txt{
    color: pointer;
}
.messagesBox{
    overflow-y: auto;
}
.messageBox{
    margin-top:10px;
    float:left;
    width:100%;
    margin:10px;
}
.message_txt{
    background : #eeeeee;
    padding: 10px;
    border: 1px solid $col_border;
    border-radius: 8px;        
}
.float-right .message_txt{
    background: #fcfcfc;
    color: darkslategray;    
}
.message_txt pre{
    overflow-x: auto;
    background: #ffffff;
    margin:5px 0px 5px 0px;
    padding:3px;
    font-family: 'Courier New';
    border: 1px solid $col_border;
}
.textareabox{
    margin-bottom:10px;
    padding: 5px;
    height: 100px !important;
}
.divnewbtn{
    padding: 7px;
}
.newmsgbtn{
    width:100%;
}
.ind_active a {
    color: #000111;
}
.ind_active{
    background:#dddddd;
}
.unread_cnt{
    color: red;
}
.header{
    color: "#007BFF";
}
/*******************/